.chart{
    width: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart .fields{
    width: 70%;
}

.chart .interval{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -18px;
    padding-top: 18px;
}

.labels{
    width: 30%;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-end;
}

.labels ul li{
    margin-bottom: 10px;
    list-style: none;
}

.labels ul li i{
    margin-right: 5px;
}

.chart .xy{
    background-image: url(../../imgs/chart.png);
    background-size: contain;
    width: 100%;
    height: calc(95% - 10px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    border-top: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
}

.chart .xy .chartFields{
    margin-left: 7px;
    color: #26715d;
    width: calc(100% - 12px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart .xy .chartFields .line{
    width: 100%;
    height: 2px;
    background-color: #26715d;
}

.space{
    height: 10px;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    border-left: 1px solid #544669;
    border-right: 1px solid #544669;
    margin-top: -5px;
}

/* colors labels */
.green{
    color: #6dba52;
}

.darkgreen{
    color: #26715d;
}

.purple{
    color: #8768a3;
}

.dark{
    color: #544669;
}

.lightblue{
    color: #7ebfdf;
}

.blue{
    color: #3866b1;
}

.yellow{
    color:#f8cc2d;
}

.orange{
    color: #e9a854;
}