.chart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 60px);
    height: calc(50vh - 60px);
    margin: 15px 0 15px 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.chart .space{
    width: 90%;
    height: 13px;
    position: absolute;
    background: #fff;
    margin-top: -15px;
}

.chart .lineChart{
    width: 80%;
    margin-bottom: 80px;
    margin-top: -48px;
}

.chart .labels{
    width: 20%;
    display: flex;
    justify-content: center;
}

.chart .labels ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    text-transform: capitalize;
    line-height: 24px;
    font-weight: bold;
}


/* colors labels */
.green{
    color: #6dba52;
}

.darkgreen{
    color: #26715d;
}

.purple{
    color: #8768a3;
}

.dark{
    color: #544669;
}

.lightblue{
    color: #7ebfdf;
}

.blue{
    color: #3866b1;
}

.yellow{
    color:#f8cc2d;
}

.orange{
    color: #e9a854;
}