/* The div resizable */
.Ace{
    width: 100%;
    height: calc(50vh - 60px);
    min-height: 50px;
    resize: vertical;
    overflow: auto;
    padding-top: 5px;
    background-color: #2e3440
}
/* Modifying the code editor theme */
.ace-monokai{
	background-color: #2e3440;
	color: #e0e0e0 ;
    line-height: 18px;
    font-family: "SourceCodePro";
}