/* external fonts */

@font-face {
    font-family: "SourceCodePro";
    src: url("./fonts/SourceCodePro-Regular.ttf");
}

@font-face {
    font-family: "SourceSansPro";
    src: url("./fonts/SourceSansPro-Regular.ttf");
}

/* body settings */

body{
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: "SourceSansPro";
}